body {
    background-color: azure
 }

 br {
    line-height: 10%;
 }

 .line:after {
    content: '';
    white-space: pre;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 8%;
    border-right: 3px dotted #424242;
    transform: translate(-50%);
  }
  